table {
  width: 100%;
}

.litotable-container {
  margin: 1rem;
}

.mat-row:hover .mat-cell {
  background-color: rgba(0, 0, 0, 0.05);
}

.row-is-selected {
  filter: brightness(1.2) contrast(0.8);
}

/* COLUMNS CONTENT ALIGNMENT */
::ng-deep .column-content-alignment-1 > div {
  text-align: left;
}
::ng-deep .column-content-alignment-2 > div {
  text-align: center;
}
::ng-deep .column-content-alignment-3 > div {
  text-align: right;
}
