table {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.table-responsive {
  overflow: auto;
  min-height: 0.01%;
}

.table-container {
  padding: 1rem 1rem 0;
}

.mat-cell > div {
  margin: 0 5px !important;
  width: max-content !important;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row.mat-row-borders:hover .mat-cell,
.mat-row.mat-row-selected-borders .mat-cell {
  border-color: currentColor;
}

.mat-row.mat-row-shadow:hover .mat-cell,
.mat-row.mat-row-selected-shadow .mat-cell {
  background-color: rgba(0, 0, 0, 0.05);
}

.row-is-selected {
  filter: brightness(1.2) contrast(0.8);
}

.mat-column-selection {
  overflow: initial;
}

.mat-header-cell {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.02);
  border-top-style: solid;
}

th.mat-column-selection.mat-header-cell:first-of-type,
td.mat-column-selection.mat-cell:first-of-type,
td.mat-column-selection.mat-footer-cell:first-of-type {
  padding-left: 10px;
  padding-right: 10px;
  width: 20px;
}

.table-top-container,
.table-bottom-container {
  display: flex;
}

.table-top-container {
  justify-content: flex-end;
}

.table-bottom-container mat-paginator {
  flex-grow: 1;
}

.table-operations mat-expansion-panel {
  margin: 1rem 0;
}

/* COLUMNS CONTENT ALIGNMENT */
::ng-deep .column-content-alignment-1 > div {
  text-align: left;
}
::ng-deep .column-content-alignment-2 > div {
  text-align: center;
}
::ng-deep .column-content-alignment-3 > div {
  text-align: right;
}

.operation-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.operation-buttons-container > div {
  margin: 0 0.5rem;
}

.constrain-mat-content > * {
  width: 100%;
}

.constrain-mat-content > mat-button-toggle-group {
  margin-bottom: 1rem;
}

.constrain-mat-content > mat-button-toggle-group > * {
  width: 25%;
}

.constrain-mat-content .constrain-mat-content-dual {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.constrain-mat-content .constrain-mat-content-dual > * {
  width: 45%;
}
