<mat-accordion class="table-operations">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title style="align-items: center">
        Operaciones
      </mat-panel-title>
      <div class="table-top-container">
        <button
          mat-icon-button
          [matMenuTriggerFor]="export"
          aria-label="Exportar"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>download</mat-icon>
        </button>

        <button
          mat-icon-button
          [matMenuTriggerFor]="columns"
          aria-label="Columnas"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>view_column</mat-icon>
        </button>

        <button
          mat-icon-button
          [matMenuTriggerFor]="constrains"
          aria-label="Constrains"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>brush</mat-icon>
        </button>
      </div>
    </mat-expansion-panel-header>
    <div class="operation-buttons-container" *ngIf="operations">
      <div *ngFor="let operation of operations.operations">
        <div *ngIf="operation.type == operationTypes.CREATE">
          <button
            mat-raised-button
            aria-label="Crear"
            (click)="$event.stopPropagation()"
          >
            CREAR
          </button>
        </div>
        <div *ngIf="operation.type == operationTypes.DELETE">
          <button
            mat-raised-button
            aria-label="Eliminar"
            (click)="$event.stopPropagation()"
          >
            ELIMINAR
          </button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="litotable-container mat-elevation-z8">
  <div class="table-container">
    <div *ngIf="dataSource" class="table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        (matSortChange)="announceSortChange($event)"
      >
        <!-- Columna de seleccion -->
        <ng-container matColumnDef="selection">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="masterToggle()"
              [indeterminate]="this.selectedRows.size != 0 && !isAllSelected()"
              [checked]="isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            style="background-color: rgba(255, 255, 255, 1)"
          >
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="selectionToogle($event.checked, row)"
              [checked]="selectedRows.has(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Resto de columnas -->
        <ng-container
          *ngFor="let column of displayedColumns.columns"
          matColumnDef="{{ column.name }}"
        >
          <!-- Column Header -->
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header="{{ column.propertyKey }}"
            sortActionDescription="Sort by {{ column.propertyKey }}"
          >
            {{ column.name }}
          </th>
          <!-- Column Data -->
          <td mat-cell *matCellDef="let element" #litotableTd>
            <div
              #content
              [ngStyle]="
                litotableTd.parentElement?.style?.color
                  ? { color: litotableTd.parentElement?.style?.color }
                  : {}
              "
            >
              <div *ngIf="column.type == columnTypes.STRING">
                {{ element[column.propertyKey] }}
              </div>
              <div *ngIf="column.type == columnTypes.DATE">
                {{
                  element[column.propertyKey]
                    | date: (column.format ? column.format : "short")
                }}
              </div>
              <div *ngIf="column.type == columnTypes.CURRENCY">
                {{ element[column.propertyKey] | currency }}
              </div>
              <div *ngIf="column.type == columnTypes.CUIT">
                {{ element[column.propertyKey] | cuit: "-" }}
              </div>
              <div *ngIf="column.type == columnTypes.PHONE">
                {{
                  element[column.propertyKey]
                    | phone: (column.format ? column.format : undefined)
                }}
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Encabezados de columnas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns.columnNames"></tr>

        <!-- Formato condicional de filas -->
        <tr
          mat-row
          [class.mat-row-selected]="selectedRows.has(row)"
          [class.mat-row-selected-borders]="
            selectedRows.has(row) && tableConfigurations?.selectionStyle == 1
          "
          [class.mat-row-selected-shadow]="
            selectedRows.has(row) && tableConfigurations?.selectionStyle == 2
          "
          [class.mat-row-borders]="tableConfigurations?.hoverStyle == 1"
          [class.mat-row-shadow]="tableConfigurations?.hoverStyle == 2"
          [ngStyle]="constrainedRows.has(row) ? row.rowStyle.style : ''"
          *matRowDef="let row; columns: displayedColumns.columnNames"
        ></tr>

        <!-- Mensaje por defecto en caso de no haber datos o se este fetcheando -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            {{ fetching ? "fetching data" : "No data found" }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="table-bottom-container">
    <mat-paginator
      [pageSizeOptions]="tableConfigurations?.paginationSizes || [5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <mat-progress-bar
    [mode]="fetching ? 'indeterminate' : 'determinate'"
  ></mat-progress-bar>
</div>

<mat-menu #export="matMenu" xPosition="before">
  <div
    mat-menu-item
    style="text-align: center"
    (click)="$event.stopPropagation()"
  >
    Exportar
  </div>
</mat-menu>

<mat-menu #columns="matMenu" xPosition="before">
  <div
    mat-menu-item
    style="text-align: center"
    (click)="$event.stopPropagation()"
  >
    Columnas
  </div>
  <div
    *ngFor="let column of displayedColumns.columns"
    mat-menu-item
    (click)="$event.stopPropagation()"
  >
    <mat-slide-toggle
      color="primary"
      (click)="$event.stopPropagation()"
      (change)="displayedColumns.changeColumnVisivility(column)"
      [checked]="column.visible"
    >
      {{ column.name }}
    </mat-slide-toggle>
  </div>
  <button
    mat-menu-item
    style="text-align: center"
    (click)="displayedColumns.allVisible(); $event.stopPropagation()"
  >
    Todas
  </button>
</mat-menu>

<mat-menu
  #constrains="matMenu"
  xPosition="before"
  style="padding: 0.5rem !important"
>
  <div
    mat-menu-item
    style="text-align: center"
    (click)="$event.stopPropagation()"
  >
    Estilos
  </div>
  <div
    mat-menu-item
    *ngFor="let const of fieldConstrians"
    (click)="$event.stopPropagation()"
    [style]="{
      color: const.constrain.style['color'],
      'background-color': const.constrain.style['background-color'],
      'text-align': 'center'
    }"
  >
    {{ const.constrainName }}
  </div>

  <!-- Constrain Creator -->
  <div
    mat-menu-item
    style="text-align: center"
    (click)="$event.stopPropagation()"
  >
    <litotable-constrain-creator [columns]="displayedColumns.columns"
      ><mat-icon style="margin: auto"
        >add_circle</mat-icon
      ></litotable-constrain-creator
    >
  </div>
</mat-menu>

<mat-menu #constrain="matMenu" xPosition="before">
  <ng-template matMenuContent let-data="data">
    <mat-card
      (click)="$event.stopPropagation()"
      (keypress)="$event.stopPropagation()"
    >
      <mat-card-content
        (click)="$event.stopPropagation()"
        (keypress)="$event.stopPropagation()"
        class="constrain-mat-content"
      >
        <div
          class="constrain-mat-content-dual"
          (click)="$event.stopPropagation()"
          (keypress)="$event.stopPropagation()"
        >
          <app-lito-color-picker
            [colors]="tableConfigurations?.rowStyleColors"
            (result)="
              changeConstrainState($event, data.constrain, 'background-color')
            "
            content="Background"
          ></app-lito-color-picker>
          <app-lito-color-picker
            [colors]="tableConfigurations?.rowStyleColors"
            (result)="changeConstrainState($event, data.constrain, 'color')"
            content="Foreground"
          ></app-lito-color-picker>
        </div>
        <div
          [style]="{
            color: data.constrain.style['color'],
            'background-color': data.constrain.style['background-color'],
            'margin-bottom': '1rem',
            'text-align': 'center',
            padding: '0.5rem 0',
            width: '100%'
          }"
        >
          {{ data.constrain.values[0] }}
        </div>
        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Font Style"
          (click)="$event.stopPropagation()"
          value="{{ data.constrain.type }}"
          (change)="
            changeConstrainState($event, data.constrain, 'number-type', false)
          "
        >
          <mat-button-toggle value="1">=</mat-button-toggle>
          <mat-button-toggle value="2">{{ "\>" }}</mat-button-toggle>
          <mat-button-toggle value="3">{{ "\<" }}</mat-button-toggle>
          <mat-button-toggle value="4">{{ "\<\>" }}</mat-button-toggle>
        </mat-button-toggle-group>
        <div
          *ngIf="data.constrain.type != numberConstrainType.BETWEEN"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          (keypress)="$event.stopPropagation()"
          style="display: flex; justify-content: space-between"
        >
          <mat-form-field
            style="width: 100%"
            appearance="fill"
            (click)="$event.stopPropagation()"
            (keypress)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          >
            <mat-label (click)="$event.stopPropagation()">VALOR</mat-label>
            <input
              type="number"
              step="100"
              (keydown)="$event.stopPropagation()"
              (keypress)="$event.stopPropagation()"
              (click)="$event.stopPropagation()"
              (change)="
                $event.stopPropagation();
                changeConstrainState(
                  $event,
                  data.constrain,
                  'number-value',
                  false
                )
              "
              (keyup)="
                $event.stopPropagation();
                changeConstrainState(
                  $event,
                  data.constrain,
                  'number-value',
                  false
                )
              "
              matInput
              placeholder=""
              value="{{ data.constrain.values[0] }}"
            />
          </mat-form-field>
        </div>
        <!-- BETWEEN -->
        <div
          *ngIf="data.constrain.type == numberConstrainType.BETWEEN"
          (click)="$event.stopPropagation()"
          (keypress)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          style="max-width: fit-content; display: flow-root"
        >
          <mat-form-field
            style="max-width: 45%; float: left"
            appearance="fill"
            (click)="$event.stopPropagation()"
            (keypress)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          >
            <mat-label (click)="$event.stopPropagation()">DESDE</mat-label>
            <input
              type="number"
              (click)="$event.stopPropagation()"
              (keydown)="$event.stopPropagation()"
              (keypress)="$event.stopPropagation()"
              (change)="
                changeConstrainState(
                  $event,
                  data.constrain,
                  'number-value1',
                  false
                )
              "
              (keyup)="
                changeConstrainState(
                  $event,
                  data.constrain,
                  'number-value1',
                  false
                )
              "
              matInput
              placeholder=""
              value="{{ data.constrain.values[0] }}"
            />
          </mat-form-field>
          <mat-form-field
            style="max-width: 45%; float: right"
            appearance="fill"
            (click)="$event.stopPropagation()"
            (keypress)="$event.stopPropagation()"
            (keydown)="$event.stopPropagation()"
          >
            <mat-label
              (click)="$event.stopPropagation()"
              (keypress)="$event.stopPropagation()"
              >HASTA</mat-label
            >
            <input
              type="number"
              step="100"
              (change)="
                changeConstrainState(
                  $event,
                  data.constrain,
                  'number-value2',
                  false
                )
              "
              (click)="$event.stopPropagation()"
              (keydown)="$event.stopPropagation()"
              (keypress)="$event.stopPropagation()"
              (keyup)="
                changeConstrainState(
                  $event,
                  data.constrain,
                  'number-value2',
                  false
                )
              "
              matInput
              placeholder=""
              value="{{ data.constrain.values[1] }}"
            />
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</mat-menu>
