table {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.table-responsive {
  overflow: auto;
  min-height: 0.01%;
}

.table-container {
  padding: 0 1rem;
}

.mat-cell > div {
  margin: 0 5px !important;
  width: max-content !important;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row.mat-row-borders:hover .mat-cell,
.mat-row.mat-row-selected-borders .mat-cell {
  border-color: currentColor;
}

.mat-row.mat-row-shadow:hover .mat-cell,
.mat-row.mat-row-selected-shadow .mat-cell {
  background-color: rgba(0, 0, 0, 0.05);
}

.row-is-selected {
  filter: brightness(1.2) contrast(0.8);
}

.mat-column-selection {
  overflow: initial;
}

th.mat-column-selection.mat-header-cell:first-of-type,
td.mat-column-selection.mat-cell:first-of-type,
td.mat-column-selection.mat-footer-cell:first-of-type {
  padding-right: 10px;
  padding-left: 10px;
}

.table-bottom-container {
  display: flex;
}

.table-bottom-container mat-paginator {
  flex-grow: 1;
}

/* COLUMNS CONTENT ALIGNMENT */
::ng-deep .column-content-alignment-1 > div {
  text-align: left;
}
::ng-deep .column-content-alignment-2 > div {
  text-align: center;
}
::ng-deep .column-content-alignment-3 > div {
  text-align: right;
}
